<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>
      Entrevistas
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button *ngIf="user?.token" fill="solid" color="secondary" (click)="presentAlertConfirmLogout()">
        Sair
        <ion-icon slot="start" name="exit-outline"></ion-icon>
      </ion-button>
      <ion-button fill="solid" color="secondary" (click)="presentSaveModal()">
        Nova
        <ion-icon slot="start" name="add-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="interviews">
    <div class="ion-text-center ion-padding" *ngIf="interviews.length == 0">
      Não há entrevistas cadastradas no momento. Para cadastrar uma, clique no botão acima!
    </div>
    <ion-item lines="full" (click)="presentActionSheet(interview)" *ngFor="let interview of interviews">
      <ion-thumbnail slot="start">
        <p class="ion-text-center">{{interview.interviewDate | date: 'dd/MM'}}</p>
      </ion-thumbnail>

      <ion-label>
        <h2>{{interview.familyLeader | uppercase}}</h2>
        <p>{{interview.familyAddress | uppercase}}</p>
      </ion-label>

      <ion-icon color="{{interview.wasSent ? 'success' : 'danger'}}"
        name="{{interview.wasSent ? 'checkmark-done-outline' : 'checkmark-outline'}}" slot="end"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>